.form {
  padding: 0;
}

.modalHeader {
  padding: 0;
}
.modalTitle {
  margin-bottom: 1vw;
  font-weight: 600;
  font-size: 2.5vw;
  font-family: "Poppins", sans-serif;
  color: #332f4e;
  text-align: center;
}

.modalDescription {
  text-align: center;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 35vw;
  margin: 0 auto;
}

.modal-content {
  box-sizing: border-box;
  padding: 10vw;
}

.sectionForm {
  padding-bottom: 2vw;
}
.sectionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1vw;
  margin-top: 2.5vw;
}

.formCTA {
  border-radius: 50px !important;
  padding: 0.6vw 1.8vw !important;
}

.formCTAsubmit {
  background-color: #5959e0 !important;
}

/* -------------------- Mobile -------------------- */

@media (max-width: 767px) {
  .modalTitle {
    font-size: 3vw;
  }

  .modal-dialog {
    width: 85vw;
    max-width: 85vw;
  }
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.75);
}
